[rhc-viewport] {
  overflow: hidden;
}

[rhc-container] {
  display: flex;
  backface-visibility: hidden;
  flex-direction: row;
  touch-action: pan-y;
  height: auto;
  margin-left: calc(-1 * var(--rhc-slides-gap) / 2);
  margin-right: calc(-1 * var(--rhc-slides-gap) / 2);
}

[rhc-slide] {
  position: relative;
  min-width: 0px;
  max-width: 100%;
  flex: 0 0 calc(100% / var(--rhc-slides-per-view));
  padding-left: calc(var(--rhc-slides-gap) / 2);
  padding-right: calc(var(--rhc-slides-gap) / 2);
}

[rhc-root][data-oriented='y'] [rhc-container] {
  touch-action: pan-x;
  flex-direction: column;
  margin: 0;
  margin-top: calc(-1 * var(--rhc-slides-gap) / 2);
  margin-bottom: calc(-1 * var(--rhc-slides-gap) / 2);
}
[rhc-root][data-oriented='y'] [rhc-slide] {
  padding: 0;
  padding-top: calc(var(--rhc-slides-gap) / 2);
  padding-bottom: calc(var(--rhc-slides-gap) / 2);
}
